* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #1e1e2f;
  color: #e0e0e0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #2c2c3e;
  box-shadow: 0 0 15px rgba(13, 12, 12, 0.3);
  padding: 20px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select,button {
  background-color: #33364d;
  color: #e0e0e0;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #3e8eff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #2a6bd9;
}

.balance {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  color: #4cd137;
}

#expense-list {
  list-style: none;
  background-color: #33364d;
  border-left: 5px solid #3e8eff;
}

#expense-list li {
  background: #333232;
  margin: 10px 0;
  padding: 10px 15px;
  /* border-left: 5px solid #007bff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

#expense-list li span {
  font-weight: bold;
}

#expense-list li button {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e63946;       
  transform: scale(1.05);          
}

.delete-btn:active {
  transform: scale(0.95);          
} 
label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #e0e5ea;
  margin: 20px 0 10px 0;
}

 select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}